html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    /* border:1px solid grey; */
    
}
body {
	line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'Bebas Neue', cursive;
    
}

header nav{
    width:100%;
    top:0;
    align-items:center;
    height:8vh;
    display:flex;
    justify-content:space-between;
    margin: 1%;
    font-size: 2.9rem;
}

.links{
    width:30%;
    align-items:center;
    display:flex;
    justify-content:space-evenly;
    margin-top: 1%;
}



.logo img{
    height: 12vh;
    display:flex;
    align-items:center;

}


a{
    text-decoration:none;
    letter-spacing:1px;
    color: #522700;
}

a:hover{
    color: darkorange;
}

a:active{
    color: darkorange;
}



nav {
    font-size: 2rem;
    color: #522700;
}

section{
    padding: 2% 0;
}



.large{
    height:70vh;
    background-image:url("https://images.unsplash.com/photo-1542181961-9590d0c79dab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8");
    margin-top: 1%;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    color: white;
}

.maintitle h1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-right: 10%;
    font-size: 12rem;
    white-space: nowrap;
    line-height: 1;
}


.maintitle h2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-right: 10%;
    font-size: 6rem;
    white-space: nowrap;
    line-height: .75;
    color: darkorange;
}

.maintitle a{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-right: 10%;
    color: white;
    font-size: 3rem;
    line-height: 2.5;
    color: white;
    
}

.maintitle a:hover{
    color: darkorange;
    
}


.gallery{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
}
.gallery div{
    width: 30%;
    height: 35vh;
    margin: 1% 0;
    background-size:cover;
    background-repeat: no-repeat;
   
    display:flex;
    align-items:flex-end;
}

.gallery p{
    width: 30%;
    height: 5vh;
    display:flex;
    justify-content:center;
    font-size: 3rem;
    text-align: center;
    color: #522700;

}

.one {
    background-image: url("https://images.unsplash.com/photo-1606131731446-5568d87113aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8");
    background-position:center;
}

.two {
    
    background-image: url("https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
    background-position:center;
}

.three {
    
    background-image: url("https://images.unsplash.com/photo-1599125816289-736f5025fc05");
    background-position:center;
}

.four {
    
    background-image: url("https://images.unsplash.com/photo-1606767341197-2de041e9ad9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
    background-position: center;
}

.five {
    
    background-image: url("https://images.pexels.com/photos/982612/pexels-photo-982612.jpeg");
    background-position:  center;
}

.six {
    
    background-image: url("https://images.unsplash.com/photo-1592861956120-e524fc739696");
    background-position:center;
}

footer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #522700;
    align-items: center;
    line-height: 1.2;
    padding: 1%;
}

footer a{
    color: white;
    font-size: 3.5rem;
}

footer a:hover{
    color: darkorange;
}

footer p {
    width: 100%;
    color: white;
    text-align: center;

}

/* Tablet */

@media(max-width:800px) {

    .links{
        width:50%;
        align-items:center;
        display:flex;
        justify-content:space-evenly;
        margin-top:  1%;
        margin-right: 1%;
    }

    .logo img{
        height: 11vh;
        display:flex;
        align-items:center;
        margin: 1%;
    
    }

}



/* Phone */

@media(max-width:500px) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        max-width:100%;
        
    }
    
    

    header nav{
        width:100%;
        top:0;
        align-items:center;
        display:flex;
        flex-direction: column;
        align-items:space-between;
        height: auto;
        margin: 1%;
        font-size: 2.9rem;
    }

    .links{
        width:50%;
        align-items:center;
        display:flex;
        flex-direction: column;
        line-height: 1.1;
    }

    .logo img{
        height: 12vh;
        display:flex;
        justify-content:center;
        padding: 0;
    
    }

    .large{
        height:40vh;
        background-image:url("https://images.unsplash.com/photo-1542181961-9590d0c79dab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8");
        margin-top: 1%;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        color: white;
        
    }

    .maintitle h1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        font-size: 5rem;
        white-space: nowrap;
        line-height: 1;
        width: 96%;
    }
    
    
    .maintitle h2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        font-size: 3rem;
        white-space: nowrap;
        line-height: .75;
        color: darkorange;
        width: 96%;
    }
    
    .maintitle a{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        color: white;
        font-size: 2rem;
        color: white;
        width: 95%;
        text-decoration: underline;
        
        
    }

    .gallery{
        display:flex;
        flex-flow: row wrap;
        justify-content:space-around;
    }
    .gallery div{
        width: 40%;
        height: 20vh;
        margin: 1% 0;
        background-size:cover;
        background-repeat: no-repeat;
        display:flex;
    }
    
    .gallery p{
        width: 40%;
        height: auto;
        display:flex;
        justify-content:center;
        font-size: 2.2rem;
        text-align: center;
        color: #522700;
    
    }

    .one {
        order: 1;
    }

    .two {
        order: 2;
    }

    .p3 {
        order: 3;
    }

    .p4 {
        order: 4;
    }

    .three {
        order: 5;
    }

    .four {
        order: 6;
    }

    .p7 {
        order: 7;
    }

    .p8 {
        order: 8;
    }

    .five {
        order: 9;
    }

    .six {
        order: 10;
    }

    .p11 {
        order: 11;
    }

    .p12 {
        order: 12;
    }

    footer a{
        font-size: 2rem;
    }


    

   
    



}